@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap");

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background: #b4b4c4;
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #b4b4c4 !important;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}
body {
  background-color: #1c1c27;
}
.text-grad {
  background: linear-gradient(to right, #026fff, #0196f3, #488fcd, #00e1ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.btn {
  @apply bg-blue-400 px-3 py-2 md:p-4 rounded-full hover:bg-blue-600 transition-all duration-300;
}
.glassmorphism {
  background: #b4b4c4;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.keyword {
  @apply bg-slate-700 rounded-full px-3 py-1 text-sm text-center cursor-pointer;
}
.contact {
  /* @apply md:;
  background-image: url("/images/Virtual.svg");
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center; */
}
.links {
  @apply cursor-pointer text-xs md:text-sm text-gray-400 hover:text-white transition-all duration-200;
}
